<article class="article" vocab="https://schema.org/" typeof="Article">
  <h1 property="name"><%= @heading %></h1>

  <div property="articleBody">
    <%= raw(@contents) %>
  </div>

  <footer>
    <p>
      Publicerad <time property="datePublished"><%= @published_at %></time>
      av <span property="publisher">Anders Englöf Ytterström</span>, <br /> senast uppdaterad
      <time property="dateModified"><%= @updated_at %></time>
    </p>
  </footer>
</article>
