<article class="article">
  <h1><%= @heading %></h1>

  <%= raw(@contents) %>
  <p>
    Källa: <a href={@url} rel="external"><%= @title %></a>
  </p>
  <footer>
    <p>
      Publicerad <%= @published_at %> <br />och senast uppdaterad <%= @updated_at %>
    </p>
  </footer>
</article>
