:root {
    --color: #fff;
    --bgcolor: #201;
    --box-padding: 12px;
}

html {
    color: var(--color);
    background-color: var(--bgcolor);
    background-image: linear-gradient(#000, #201 333px);
    font:
        normal small/1.5 apple-system,
        system-ui,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}

h1,
h2,
h3 {
    line-height: 1.1;
    font-family: serif;
}

main {
    background-color: #000;
    margin: 0 auto;
    max-width: 40em;
    box-sizing: border-box;
    padding: 3em;
}

pre {
    margin: 2em 0;
    background-color: #022;
    overflow-y: auto;
    padding: 0.33em;
    box-shadow: 4px 4px 0 #333;
    position: relative;
    line-height: 1.2;
    font-size: 0.8em;

    > button {
        position: absolute;
        top: 0.25em;
        right: 0.25em;
    }
}

code {
    font-family: "JetBrains mono", monaco, menlo, meslo, "Courier New", Courier,
        monospace;
}

section {
    position: relative;

    & > h2 {
        background: #000;
        padding: 1em 0;
    }
}

.skiplink {
    position: absolute;
    top: -5em;
    transition: top 0.4s ease-out;
    padding: 0.25em 0.5em;

    &:focus {
        top: 1em;
    }
}

.sr-only {
    position: absolute;
    left: -999em;
}

.flx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tree {
    color: crimson;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    > * {
        padding: 0.5em 1em;
        border-radius: 5px;
        background-color: rgba(128, 128, 128, 0.1);

        &:focus-within {
            background-color: rgba(128, 128, 128, 0.25);
        }
    }

    > :nth-child(even) {
        text-align: right;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.landing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    box-sizing: border-box;
    gap: 3em;
}

.breadcrumbs {
    list-style: none;
    padding-left: 0;

    > li {
        display: inline;

        &:after {
            content: " /";
        }
    }
}

.article {
    font-size: large;
    box-sizing: border-box;

    > footer {
        font-style: italic;
        text-align: right;
        font-size: 0.8em;
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.months {
    grid-auto-flow: rows;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    padding-left: 0;
    margin: 3em 0;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    grid-auto-rows: 1fr;

    > * {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-top: 6px solid red;

        &:focus-within {
            background-color: #333;
        }
    }

    date {
        border-top: 1px solid crimson;
        padding: 0.25em 0.5em;
    }
}

.links {
    > :is(h2, h3) {
        margin-top: 3em;
    }
}

.brutal-legend {
    display: flex;
    gap: 1em;
    flex-direction: row-reverse;

    > p {
        flex: 1;
        margin: 0;
    }

    > img {
        aspect-ratio: 1;
    }
}
